.base{
	background-color: #222;
            color: #e6e6e6;
}

.content{


	margin: auto;
	width:50%;
	text-align: center;

}

.middle{
	background-color: grey;
	color: #e6e6e6;
}

.link{
	color:black;
}
.blog{

	background-color: black;
	color:white;
}
.title{
	font-family: 'New Tegomin', serif;
	color: #03a9fc;
}

.bigbrand{
	color:red;
}